form {
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="time"],
select,
textarea {
    width: calc(100% - 12px);
    padding: 8px;
    margin-top: 6px;
    border: 2px solid #ddd;
    box-sizing: border-box;
}

button[type="submit"],
button[type="reset"] {
    width: 48%;
    padding: 10px;
    margin-top: 12px;
    cursor: pointer;
}

button[type="submit"] {
    background-color: #007BFF;
    color: white;
    border: none;
}

button[type="reset"] {
    background-color: #808080;
}

.inline-block {
    display: inline-block;
    vertical-align: top;
    width: 48%;
    margin-top: 12px;
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}

legend {
    text-align: center;
}

fieldset {
    border: 5px solid #ddd;
    border-radius: 10px;
    padding: 25px;
    margin-bottom: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
